:root {
    --logo-primary-color:    rgb(247, 204, 211);
    --logo-secondary-color:  rgb(255, 125, 147);
    --accent-text:           #fec2c2;
    --black-text:            #333333;
    --bg-colour:             #FFF6F6; /*has been updated*/
    --bg-footer:             rgb(36, 36, 36);
    --brand-font:            'Montserrat', sans-serif;
    --navbar-height:         55px;
  }

html {  
    font-family: var(--brand-font);
    overflow-x: hidden;
}
body {
    background-color: var(--bg-colour);
    width: 100vw;
    padding: 0;
    margin: 0;
}
.logo {
    justify-content: left;
    padding: 0px;
    width: 100px;
}
.btn {
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 700;
    font-size: larger;
    display: inline-block;
    background: var(--logo-primary-color);
    color: var(--accent-text);
}
.btn:hover {
    opacity: 80%;
    transition-duration: 1000ms;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    opacity: 80%;
    transition-duration: 500ms;
}
a:visited {
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-weight: 500;
}
h3 {
    color: #e65858;
}
h3 a:visited {
    color: #e65858;
}
p {
    font-weight: 500;
    font-size: large;
}

/************** NAVBAR **************/
nav {
    background-color: var(--bg-colour);
    display: flex;
    justify-content: space-evenly;
    /*For a sticky navbar, keep the following code below*/
    top: 0;
    width: 100vw;
    height: var(--navbar-height);
    position: fixed;
    z-index: 1000;
}
nav .logo {
    margin-top: 5px;
    width: 52px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;   
}
nav li {
    display: inline-block;
    vertical-align: middle;
}
nav a {
    display: block;
    color: var(--accent-text);
    font-family: var(--brand-font);
    font-weight: 700;
    font-size: larger;
    padding: 10px 20px;
    text-decoration: none;  
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav a:hover {
    color: rgb(246, 130, 130);
}
nav a:visited {
    color: var(--accent-text);

}

/********************************************** HOME PAGE *****************************************************/
/* SECTION 1---------------------------------- */
.section1 {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-colour);
    color: var(--black-text);
    /*For the sticky navbar positioning, keep the following code below*/
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
}
.section1 h1 {
    padding-top: 90px;
    text-align: center;
}
.section1 img {
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    margin-top: -50px;
}
.video-player {
    display: block;
    margin: 40px auto;
}
.video-text { 
    padding-top: 100px;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


.section2 {
    text-align: center;
    color: var(--black-text);
}
.section2 h2 {
    color: var(--accent-text);
    padding: 50px 50px;
}
.pink-text {
    color: var(--accent-text);
}


/**************************************** ABOUT *************************************************/


/**************************************** FOOTER *************************************************/
footer {
    background-color: #fab9b9;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content {
    width: 300px;
    margin: 20px;
}

.footer-content h3 {
    font-size: 18px;
    font-weight: bold;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 8px;
}
  

/* MOBILE */
.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .menu-icon .icon,
  .menu-icon .icon::before,
  .menu-icon .icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fdc7c7;
    transition: all 1s ease-in-out;
  }
  
  .menu-icon .icon::before {
    transform: translateY(-8px);
  }
  
  .menu-icon .icon::after {
    transform: translateY(5px);
  }
  
  .menu-items {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 55px;
    right: 0;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--logo-primary-color);
    padding: 10px;
  }
  
  .menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-items li {
    margin: 80px 0;
    text-align: center;
    font-size: xx-large;
    font-weight: 700
  }
  
  .menu-items a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
  }
  
  .show-menu {
    display: block;
  }
  
/********************************************** RESPONSIVE STYLES *******************************************/
@media screen and (min-width: 1200px) {
    footer {
        text-align: center;
    }
}
@media screen and (max-width: 1199px) {

}
@media screen and (min-width: 500px) {
    .menu-icon {
        display: none;
    }
}

/* PHONE SCREEN SIZE */
@media screen and (max-width: 500px) {
    .menu-icon {
        display: flex;
    }
    .nav-hide {
        display: none;
    }
    .nav-important {
        justify-content: space-evenly;
    }
    /* CONTACT PAGE */
    .contact-section1 {
        background-color: var(--bg-colour);
        margin-top: 110px;
        height: 100vh;
        text-align: center;
        color: white;
        list-style: none;
    }
    .contact-section1 h1 {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .contact-section1 a {
        color: white;
        text-decoration: none;
        font-weight: 700;
    }
    .contact-section1 li {
        margin-top: 20px;
    }

    .contact-grid {
        background-color: var(--bg-footer);
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 100vw;
        margin: 0px;
        padding: 10px;
        margin-bottom: -20px;
        color: var(--accent-text);
    }
    .contact-grid img {
        width: 40px;
    }
}
